#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.icon-header {
  font-size: 26px;
  padding: 10px;
}

.background-header {
  --background: rgb(13, 13, 173);
  color: whitesmoke;
}

.row-menu {
  display: flex;
  align-items: center;
  justify-self: center;
  text-align: center;
}

.buttons-menu {
  width: 60%;
  padding: 10px;
  margin: 10px;
  border-radius: 50px;
  border: 2px solid whitesmoke;
}

.slides{
  background-color: #a467d6;
  color: white;
}

ion-fab-button {
  --background: rgb(13, 13, 173);
}

ion-button {
  --background: rgb(13, 13, 173);
}

.div-img{
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-produtos{
  height: 250px;
}