<ion-header [translucent]="true">
  <ion-toolbar class="background-header">
    <ion-icon slot="start" class="icon-header" name="menu-outline"></ion-icon>
    <ion-title>
      UniCV Salgados
    </ion-title>
    <ion-icon slot="end" class="icon-header" name="person-circle-outline"></ion-icon>
  </ion-toolbar>

  <ion-row>
    <ion-slides class="slides" [options]="slideOpts">
      <ion-slide *ngFor="let categoria of categorias; let ix = index;" (click)="trocaAba(categoria)">
        {{categoria.nome}}
      </ion-slide>
    </ion-slides>
  </ion-row>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="aba == 1">
    <ion-row>
      <ion-col size="12" *ngFor="let pizza of pizzas; let ix= index;">
        <ion-card>

          <img src="{{pathImgs + pizza.img}}" />
          <ion-card-header>
            <ion-card-title>{{pizza.titulo}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{pizza.descricao}}
          </ion-card-content>
          <ion-card-content>
            {{pizza.valor}}
          </ion-card-content>
          <ion-card-content>
            <ion-button (click)="trocaPagina()">Detalhes</ion-button>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf=" aba == 2">
    <ion-row>
      <ion-col size="12" *ngFor="let burguer of burguers; let ix= index;">
        <ion-card>

          <img src="{{pathImgs + burguer.img}}" />
          <ion-card-header>
            <ion-card-title>{{burguer.titulo}}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            {{burguer.descricao}}
          </ion-card-content>
          <ion-card-content>
            {{burguer.valor}}
          </ion-card-content>
          <ion-card-content>
            <ion-button>DETALHES</ion-button>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf=" aba == 3">
    <ion-row>
      <ion-col size="12" *ngFor="let salgado of salgados; let ix= index;">
        <ion-card>

          <img src="{{pathImgs + salgado.img}}" />
          <ion-card-header>
            <ion-card-title>{{salgado.titulo}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{salgado.descricao}}
          </ion-card-content>
          <ion-card-content>
            {{salgado.valor}}
          </ion-card-content>
          <ion-card-content>
            <ion-button>DETALHES</ion-button>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf=" aba == 4">
    <ion-row>
      <ion-col size="12" *ngFor="let lanche of cachorrao; let ix= index;">
        <ion-card>

          <img src="{{pathImgs + lanche.img}}" />
          <ion-card-header>
            <ion-card-title>{{lanche.titulo}}</ion-card-title> 
          </ion-card-header>
        
          <ion-card-content>
            {{lanche.descricao}}
          </ion-card-content>
          <ion-card-content>
            {{lanche.valor}}
          </ion-card-content>
          <ion-card-content>
            <ion-button>DETALHES</ion-button>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf=" aba == 5">
    <ion-row>
      <ion-col size="12" *ngFor="let suco of sucos; let ix= index;">
        <ion-card>

          <img src="{{pathImgs + suco.img}}" />
          <ion-card-header>
            <ion-card-title>{{suco.titulo}}</ion-card-title>  
          </ion-card-header>

          <ion-card-content>
            {{suco.valor}}
          </ion-card-content>
          <ion-card-content>
            <ion-button>DETALHES</ion-button>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
