<ion-header [translucent]="true">
  <ion-toolbar class="background-header">
    <ion-icon slot="start" class="icon-header" name="menu-outline"></ion-icon>
    <ion-title>
      UniCV Salgados
    </ion-title>
    <ion-icon slot="end" class="icon-header" name="person-circle-outline"></ion-icon>
  </ion-toolbar>

  <ion-row>
    <ion-slides>
      <ion-slide *ngFor="let categoria of categorias; let ix = index;">
        <ion-segment size="6">
          {{ categoria.nome }}
        </ion-segment>
      </ion-slide>
    </ion-slides>
  </ion-row>
</ion-header>

<ion-content [fullscreen]="true">

</ion-content>
