<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title-detalhes">{{produto.titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="{{pathImgs + produto.img}}" />
  <ion-row>
    <ion-col size="12" class="descricao-detalhes">
      {{produto.descricao}}
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer class="footer-produto">
  <ion-row class="ion-align-items-center">
    <ion-col size="6" class="valor-produto">
      {{produto.valor}}
    </ion-col>
    <ion-col size="6">
      <ion-row class="ion-align-items-center">
        <ion-col size="4" class="ion-text-center">
          <ion-button (click)="adicionar()">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          <ion-input type="number" class="ion-text-center">{{quantidade}}</ion-input>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          <ion-button (click)="remover()">
            <ion-icon name="remove"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>